<html>

<head>
    <style>
        body {
            background-color: #a7e419;
            color: rgb(6, 22, 173);
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

        h1 {
            font-size: 48px;
        }

        p, a {
            font-size: 24px;
        }

        a {
            color: red;
            font-weight: bold;
        }

        .container {
            max-width: 800px;
            margin: 100px auto;
        }
    </style>
</head>


<body>
    <div class="container">
        <h1>{{ title }}</h1>

        <p>{{ text }}</p>

        <img src="{{ url_for ('static', filename='Asia.jpg') }}" style="width:400px; height:400px;"  />

        {% if choices %}

            <p>Where would you like to go, next?</p>

            <ul>
                {% for (page_name, choice) in choices %}
                <li>
                    <a href="{{url_for(page_name)}}">{{choice}}</a>
                </li>
                {% endfor %}
            </ul>

        {% else %}
            
            <p>Enjoy the journey!</p>


            <p><a href="{{url_for('start')}}">Stay on Earth.</a></p>
        {% endif %}
       

    </div>
</body>


</html>


